* {
  background-color: #000000;
  color: #ffffff;
}

.flex {
  display: flex;
  align-items: center;
}

summary {
  cursor: pointer;
  margin-bottom: 15px;
}

/*
  Header
*/
header {
  border-bottom: 1px solid #ffffff;
}

/*
  Quiz
*/
.code-snippet {
  background-color: #111111;
  padding-top: 10px;
}
.answer {
  background-color: #111111;
  border: 1px solid blue;
  padding: 10px;
}
